/target
*/**/target
*/**/*.*.so
*/**/__pycache__

py-redesmyn/docs/src/**/api
py-redesmyn/docs/build
data
!py-redesmyn/examples/iris/data/iris.csv
*/**/.venv
*/**/logs
*/**/*.log
*/**/models
!py-redesmyn/tests/fixtures/models/
