[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
sort_pipfile = true

[packages]
aiohttp = "*"
lightgbm = "*"
mlflow = "*"
more-itertools = "*"
numpy = "*"
polars = "*"
pydantic = "*"
scikit-learn = "1.4.0"

[dev-packages]
maturin = "*"
pytest = "*"
sphinx = "*"
pydata-sphinx-theme = "*"

[notebook]
ipykernel = "*"
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.11"
