[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
sort_pipfile = true

[packages]
lightgbm = "*"
polars = "*"
scikit-learn = "1.4.0"
numpy = "*"
mlflow = "*"
aiohttp = "*"
pydantic = "*"
more-itertools = "*"

[dev-packages]
maturin = "*"
pytest = "*"

[notebook]
ipykernel = "*"
jupyter = "*"
notebook = "*"

[docs]
sphinx = "*"
pydata-sphinx-theme = "*"

[requires]
python_version = "3.11"
