[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightgbm = "*"
polars = "*"
scikit-learn = "1.4.0"
numpy = "*"
mlflow = "*"
aiohttp = "*"
maturin = "*"
pytest = "*"

[dev-packages]
ipykernel = "*"
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
